body {
    border-top: 5px solid #ffc107;
}

.nav-container {
    box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);
    margin-bottom:10px;
}
.home-banner {
    background: url(/images/home-banner.jpg) no-repeat;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  min-height: 400px;
}

main {
    min-height: 480px;
    padding: 30px 0 50px 0;
}
aside {
    padding: 30px 0 0 0;

}

@media (min-width: 768px) { 
    .home-cta {
        background: white;
        margin-top: -80px;
        box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.75);
    }

    .home-cta svg {
        margin: 0 auto;
        padding: 10px;
    }
}
.dark-bg {
    background: #333;
    color: white;
}


footer {
    background: #000;
    padding: 30px 0;
    color: #fff;
}

footer ul {margin: 0; padding: 0; list-style: none}
footer ul li {float: left; margin-right: 10px;}

footer ul.social-media li {float: right;}

footer a { color: #fff;}
footer a:hover { color: #ffc107;}
footer a:visited { color: #fff;}
footer a:focus { color: #ffc107;}